@media(max-width: 930px){
main,#leftSection, #rightSection, #listContainer{
display: flex;
flex-direction:column;
}

header h1{
font-size:max(5.5vw,0.7rem);
}

header h1 span{
font-size:max(2.5vw,0.4rem);
}

article{
margin: 10px 0px ;

}

}
