dialog{
text-align:center;
background-color:var(--white);
color:var(--black);
border:2px solid var(--black);
position:fixed;
top:50%;
left:50%;
transform: translate(-50%,-50%);
z-index:2;
padding:1.2vw;
border-radius:10px;
}

dialog > *{
display:block;
margin-left:auto;
margin-right:auto;
margin-top:10px;

}
  
dialog::backdrop{
position:fixed;
background-image:linear-gradient(#215A59AA,black) ;
background-size:cover;
opacity:0.7;
}


/* error pop up */

#errorPopUp, #errorPopUp h2{
opacity:0;
transition: opacity 1s;
z-index:10;
top:80%;
width:90%;
color: var(--red);
}
#errorPopUp::backdrop{
background-image:linear-gradient(#5A2321AA,black) ;
}
